{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <h3>Images</h3>
    <ul>
        {# iterate over each existing tag and render its only field: name #}
        {% for image in form.liste_image %}
            <li>{{ form_row(image.path) }}<a href="{{ path("img_delete", {path:image.path.vars.value}) }}">supprimer</a> </li>
        {% endfor %}
    </ul>
    {{ form_end(form) }}
{% endblock %}