<ul class="pure-menu-list">
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="#" id="menuLink1" class="pure-menu-link">Download</a>
        <ul class="pure-menu-children">
            {% for image in items  %}
                <li class="pure-menu-item"><a href="{{ path( "img_affiche", {nom:image.path} ) }}" class="pure-menu-link">{{ image.path }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>